board {
  float: left;
  border: 10px solid #b77b57; 
  margin-top: 2vh;
  margin-left: 2vh;
  border-radius: 5px;
}

board > div {
  border: 1px solid rgb(39, 37, 37);
  margin: 0.5px;
  background-color: rgb(255, 255, 255);
  width: 5.2vh;
  height: 5.2vh;
  float: left;
  border-radius: 2px;
}

board > div:nth-child(15n+1){
  clear: both;
}

board > div::after{
  display: block;
}

board > div.special-tw{
background-color: #ccb0a2;
}

board .special-tw::after{
  content: 'TW';
  color: #fff;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

board > div.special-dl{
background-color: #d6e1e7;
}

board .special-dl::after{
  content: 'DL';
  color: #FFF;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

board > div.special-dw{
background-color: #98aab4;
}

board .special-dw::after{
  content: 'DW';
  color: #FFF;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

board > div.special-tl{
background-color: #e5d4c2;

}

board .special-tl::after{
  content: 'TL';
  color: #fff;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

board > div.special-start{
background-color: #b77b57;
}

board .special-start::after{
  content: 'START';
  color: #fff;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 1.5vh;
  padding-top: 1.7vh;
}

board .tile {
  position: absolute;
  margin: 1px;
}

board > div.hover {
  background-color: orange;
}