board {
  float: left;
  width: 100%;
}

board > div {
  float: left;
  border-top: 2px solid rgba(0,0,0,0.5);
  border-left: 2px solid rgb(0,0,0,0.75);
  border-bottom: 2px solid rgb(0,0,0,1);
  border-right: 2px solid rgb(0,0,0,1);
  background: white;
  width: 6.66%;
  border-radius: 0.5vh;
}

board > div:nth-child(15n+1){
  clear: both;
}

board div span {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.5vh;
  font-family: 'Open Sans';
  color: white;
}

board div[class$="start"], board div[class$="dw"] {
  background-color: #e5d4c2;
}

board div[class$="tw"] {
  background-color: #cf6a6a;
}

board div[class$="dl"] {
  background-color: #98aab4;
}

board div[class$="tl"] {
  background-color: #213951;
}

board .tile {
  position: absolute;
  margin: 1px;
}

board > div:hover {
  background-color: #cf816a;
  cursor: pointer;
}

board .over {
  background-color: #cf816a;
}
