@import 'start.css';
@import 'game.css';
@import 'board.css';
@import 'player.css';
@import 'rack.css';
@import 'tile.css';
@import 'changer.css';
@import 'menu.css';

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #d6e1e7;
}

body button:hover{
  background-color:transparent;
  color: rgb(31, 30, 30);
}

header {
  float: left;
  width: 100%;
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  font-family:'Pacifico', cursive;
  font-size: 40px;
}

footer {
  position: fixed;
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

#players {
  position: absolute;
  top: 10vh;
  right: 10vw;
}

#player-icon{
  float: left;
  text-align:center;
  vertical-align:middle;
  position: relative;
}