/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*APPLICATION*/
@import 'start.css';
@import 'game.css';
@import 'board.css';
@import 'player.css';
@import 'rack.css';
@import 'tile.css';
@import 'changer.css';
@import 'menu.css';

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #d6e1e7;
}

header {
  float: left;
  width: 100%;
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  font-family:'Pacifico', cursive;
  font-size: 40px;
  border-bottom: 0.2em dashed #e5d4c2;
  box-shadow: 0 0 4px 1px #0a1126;
}

footer {
  position: fixed;
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-family: 'pacifico';
  font-size: 20px;
  line-height: 40px;
  border-top: 0.2em dashed #e5d4c2;
  box-shadow: 0 0 4px 1px #0a1126;
}

#players {
  position: absolute;
  top: 10vh;
  right: 10vw;
}

#player-icon{
  float: left;
  text-align:center;
  vertical-align:middle;
  position: relative;
}