menu {
  float: left;
  width: 100%;
}

menu ul {
  float: left;
  width: 100%;
  list-style-type: none;
  padding: 2vh;
}

menu ul li {
  float: left;
  width: 100%;
}

menu ul li a {
  display: block;
  padding: 2vh;
  margin: 0 0 1vh 0;
  text-decoration: none;
  text-align: center;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  border-radius: 1vh;
  font-size: 2vh;
  font-family: arial;
}

menu ul li a:hover {
  background: rgb(255,255,255);
  color: rgb(0,0,0);
}