menu {
  float: left;
  width: 100%;
}

menu ul {
  float: left;
  width: 100%;
  list-style-type: none;
}

menu ul li {
  float: left;
  padding: 0 0 0 1vh;
  min-width: 25%;
}

menu ul li a {
  display: block;
  padding: 2vh 0;
  text-decoration: none;
  font-family: 'pacifico';
  text-align: center;
  border: 0.2em dashed #e5d4c2;
  border-radius: 1vh;
  background: #213951;
  color: white;
  font-size: 2vh;
  box-shadow: 0 0 4px 1px #0a1126;
}

menu ul li a:hover {
  background: #cf816a;
  color: white;
  box-shadow: none;
}

menu ul li:first-child {
  padding: 0 0 0 0;
}

