player {
  float: left;
  width: 100%;
}

player info {
  float: left;
  width: 100%;
  margin: 2vh 0 0 0;
  padding: 1vh 2vh 1vh 2vh;
  border: 0.2em dashed #e5d4c2;
  border-radius: 0.5vh;
  font-size: 2vh;
  background: #213951;
  font-family: 'pacifico';
  color: white;
  box-shadow: 0 0 4px 1px #0a1126;
}

player name {
  float: left;
}

player points {
  float: right;
}