player {
  float: left;
  width: 100%;
  font-size: 4vh;
}

player panel {
  float: left;
  width: 100%;
  padding: 2vh;
}

player name {
  float: left;
  margin: 0 1vh;
  height: auto;
}

player points {
  float: left;
  height: 100%;
}