rack {
  float: left;
  padding: 1vh;
  background-color: rgb(33, 57, 81);
  border-radius: 0 0 1vh 1vh;
  width: 100%;
  border-right: 0.2em dashed #e5d4c2;
  border-bottom: 0.2em dashed #e5d4c2;
  border-left: 0.2em dashed #e5d4c2;
}

rack div {
  float: left;
  padding: 1vh;
  width: 11.11%;
  background: rgba(0,0,0,0.5);
  border-radius: 1vh;
}

rack div tile {
  float: left;
  padding: 1vh;
  width: 100%;
  height: 100%;
  background: rgb(239,227,211);
  background: linear-gradient(180deg, rgba(239,227,211,1) 0%, rgba(209,188,167,1) 100%); 
  border-radius: 1vh;
  border: #bd9182 solid 4px;
  border-spacing: 0;
  box-shadow: 0 0 8px 4px #421327;
}

rack div tile:hover {
  cursor: pointer;
  background: rgb(250,244,232);
  background: linear-gradient(180deg, rgba(250,244,232,1) 0%, rgba(239,227,211,1) 35%, rgba(229,212,194,1) 100%);
}

rack div tile char {
  float: left;
  width: 100%;
  height: 75%;
  line-height: 100%;
  text-align: center;
}

rack div tile points {
  float: left;
  width: 100%;
  height: 25%;
  text-align: right;
}

rack .empty {
  border: 0;
  background: rgba(0,0,0,0.5);
  box-shadow: none;
}

rack .placable {
  background: rgba(0,0,0,0.75);
}

rack .over {
  opacity: 0.5;
}

rack .over-empty {
  border: none;
  background: rgba(0,0,0,0.5);
  box-shadow: inset 0 0 2vh 1vh rgba(255,255,255,0.75);
}

rack .over-board {
  margin: 0;
  padding: 0;
  border: 1px solid #bd9182;
  position: relative;
  border-radius: 1vh;
}