rack {
  float: left;
  padding: 1vh;
  background-color: rgb(33, 57, 81);
  border-radius: 1vh;
  width: 100%;
}

rack div {
  float: left;
  padding: 1vh;
  width: 11.11%;
  background: rgba(0,0,0,0.5);
}

rack div tile {
  float: left;
  padding: 1vh;
  width: 100%;
  height: 100%;
  background: rgb(229, 212, 194); 
  border-radius: 1vh;
  font-size: 200%;
  line-height: 100%;
}

rack div tile:hover {
  cursor: pointer;
}

rack div tile char {
  float: left;
  width: 100%;
  height: 75%;
  font-size: 100%;
  text-align: center;
}

rack div tile points {
  float: left;
  width: 100%;
  height: 25%;
  font-size: 100%;
  text-align: right;
}