start {
  float: left;
  width: 100%;
}

start form {
  margin: 90px auto;
  margin-top: 10vh;
  width: 100vh;
  text-align: center;
}

start form div{
  display: block;
  padding: 1vh;
  font-family: Arial;
}

start form label{
  font-size: 2.3vh;
  font-weight: bold;
  padding: 2px 1em;
  background-color: #98aab4;
  border-radius: 2px;
  color:  #213951;
}

start form input {
  font-size: 2.3vh;
}

start button {
  margin: 10vh auto;
  padding: 5vh 2vh;
  width: 40vh;
  color: white;
  background-color: #cf816b;/*#f5b880;*/
  cursor: pointer;
  border: 5px solid white;
  border-radius: 5vh;
  font-size: 4vh;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  /*position: absolute;*/
}