/*Styling for buttons*/

.not-show{
  display:none;
}

.startPage form{
  margin: 20vh 20vh 0 20vh;
  text-align: center;
}

.startPage form div{
  margin: 3vh 10vw;
  font-family: Arial;
}

.startPage form label span{
  font-size: 2.3vh;
  font-weight: bold;
  padding: 2px 1em;
  background-color: #98aab4;
  border-radius: 2px;
  color:  #213951;
}

.startPage form input {
  font-size: 2.3vh;
}

.startPage button{
  display: inline-block;
  color: white;
  background-color: #cf816b;/*#f5b880;*/
  cursor: pointer;
  border: 5px solid white;
  border-radius: 50px;
  margin: 10vh 10vh 0 10vh;
  padding: 1.2em 3em;
  font-size: 4vh;
  text-transform:uppercase;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  /*position: absolute;*/
}

body button:hover{
  background-color:transparent;
  color: rgb(31, 30, 30);
}

.skipButton button{

   color: white;
   background-color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform:uppercase;
  font-weight: 100%;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 10rem;
  bottom: 8rem;

}
.breakButton button{
  color: white;
  background-color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform:uppercase;
  font-weight: 100%;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 5rem;
  bottom: 8rem;
}

.checkWordButton button{
  color: white;
  background-color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform:uppercase;
  font-weight: 100%;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 18rem;
  bottom: 8rem;
}


.board {
  /* border: 15px solid rgb(241, 255, 42); */
  margin-top: 7vh;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;
}

.board > div {
  border: 1px solid rgb(39, 37, 37);
  margin: 0.5px;
  background-color: rgb(255, 255, 255);
  width: 5.2vh;
  height: 5.2vh;
  float: left;
  border-radius: 2px;
}

.board .holdingTile:hover {
  background-color: brown;
}

.board > div:nth-child(15n+1){
  clear: both;
}

.board > div::after{
  display: block;
}

.players {
  position: absolute;
  top: 10vh;
  right: 10px;
  background-color: chartreuse;
}

.pname {
  margin-bottom: 20px;
}
