/*Styling for the website in general*/

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background-color: #d6e1e7;
}

header {
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  font-family:'Pacifico', cursive;
  font-size: 40px;
}

footer {
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}