/*Styling for the website in general*/

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Sticky footer
   see https://java19l.lms.nodehill.se/article/sticky-footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.gamePage, .startPage {
  flex: 1;
}
/* End sticky footer */

body {
  overflow-x: hidden; /* hide horizontal scroll */
  background-color: #d6e1e7;
}

header {
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  font-family:'Pacifico', cursive;
  font-size: 40px;
}

footer {
  color: white;
  background-color:  #213951;
  padding: 10px;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}