/*Styling for buttons*/

.not-show{
  display:none;
}

.startPage {
  margin: 90px auto;
}

.gamePage {
  margin-top: 37px;
  margin-bottom: 19.5px;
  font-family: Arial;
}

.startPage form{
  display: relative;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
}

.startPage form div{
  margin: 3vh 10vw;
  font-family: Arial;
}

.startPage form label span{
  font-size: 2.3vh;
  font-weight: bold;
  padding: 2px 1em;
  background-color: #98aab4;
  border-radius: 2px;
  color:  #213951;
}

.startPage form input {
  font-size: 2.3vh;
}

.startPage button{
  display: inline-block;
  color: white;
  background-color: #cf816b;/*#f5b880;*/
  cursor: pointer;
  border: 5px solid white;
  border-radius: 50px;
  margin: 10vh 10vh 0 10vh;
  padding: 1.2em 3em;
  font-size: 4vh;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  /*position: absolute;*/
}

body button:hover{
  background-color:transparent;
  color: rgb(31, 30, 30);
}

.gamePage button {
  color: white;
  background-color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  text-transform:uppercase;
  font-weight: 100%;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 18rem;
  bottom: 8rem;
}

.gamePage .buttons {
  right: 10rem;
}

.skipButton button{
  right: 10rem;
}
.breakButton button{
  opacity: 0.5;
  right: 5rem;
}

#breakButton:hover{
  opacity: 1;
  background-color:red;
  border: 1px solid red;
  color: white;
}

.checkWordButton button{
  right: 18rem;
}

.changeTiles {
  position: absolute;
  top: 24vh;
  right: 10vw;
  height: 40vh;
  width: 70vh;
}

.changeTiles .changeTilesSquare{
  float: left;
  position: relative;
  height: 30vh;
  width: 30vh;
  margin: 4vh;
  border: 0.3em dashed #e5d4c2;
  border-radius: 10px;
  background-color: #cf816a;
}

.changeTiles .changeTilesSquare p {
  position: relative;
  text-align: center;
  color: #e5d4c2;
  font-size: 5vh;
  margin: 0 auto;
  width: 80%;
  height: 60%;
  top: 20%;
} 

.changeTiles button {
  float: left;
  position: relative;
  top: 1em;
  left: 1em;
}

.board {
  border: 10px solid #b77b57; 
  margin-top: 1vh;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;
}

.board > div {
  border: 1px solid rgb(39, 37, 37);
  margin: 0.5px;
  background-color: rgb(255, 255, 255);
  width: 5.2vh;
  height: 5.2vh;
  float: left;
  border-radius: 2px;
}

.board > div:nth-child(15n+1){
  clear: both;
}

.board > div::after{
  display: block;
}

.board > div.special-tw{
background-color: #ccb0a2;
}

.board .special-tw::after{
  content: 'TW';
  color: #fff;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

.board > div.special-dl{
background-color: #d6e1e7;
}

.board .special-dl::after{
  content: 'DL';
  color: #FFF;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

.board > div.special-dw{
background-color: #98aab4;
}

.board .special-dw::after{
  content: 'DW';
  color: #FFF;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

.board > div.special-tl{
background-color: #e5d4c2;

}

.board .special-tl::after{
  content: 'TL';
  color: #fff;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 3vh;
}

.board > div.special-start{
background-color: #b77b57;
}

.board .special-start::after{
  content: 'START';
  color: #fff;
  font-style: bold;
  display: block;
  text-align: center;
  font-size: 1.5vh;
  padding-top: 1.7vh;
}

.players {
  position: absolute;
  top: 10vh;
  right: 10vw;
}

.player-icon{
  float: left;
  text-align:center;
  vertical-align:middle;
  position: relative;
}

.stand {
  float: left;
  background-color:rgb(33, 57, 81);
  padding: 10px;
  width: 53vh;
  border-radius: 5px;
  position: relative;
}

.stand::after {
  content: "";
  display: table;
  clear: both;
}

.stand .tile {
  cursor: pointer;
}

.tile {
  z-index: 1;
  position: relative;
  text-align:center;
  width: 5.6vh;
  height: 5.6vh;
  float: left;
  background-color: rgb(229, 212, 194); 
  border: 1px solid #000;
  border-radius: 3px;
  margin: 0 2px;
  font-size: 3.5vh;
}

.board .tile {
  position: absolute;
  margin: 1px;
}

.tile span {
  position: absolute;
  font-size: 1.5vh;
  right: 3px;
  bottom: 3px;
}

.tile.none {
  border: 0;
  background-color: transparent;
}

.fas{
  color: rgb(33, 57, 81);

}

.board > div.hover {
  background-color: orange;
}