.endPage{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 33.33px;
  width: 100%;
  padding-top: 15vh;
  font-family: Arial;
}

.endPage .large {
  margin-top: 50vh;
}

.ranking {
  margin: 15vh;
  margin-top: 0;
}

.ranking ol {
  color: #213951;
}

.ranking li {
  margin: 10px 0;
  font-size: calc(12px + 0.5vh + 1.5vw);
  font-weight: bold;
  padding: 0 10px;
}

.ranking li span{

  border-radius: 2px;
  color:  #213951;
  float: left;
  width: 20vw;
}

.ranking li.rank1{
  color: 	#cf816a;
  background-color: #e5d4c2;
}

.ranking li.rank1::marker{
  color: 	#cf816a;
}

.highScoreDiv{
  margin: 15vh;
  margin-top: 0;
  font-size: calc(10px + 0.2vh + 0.5vw);
}

.highScoreDiv li{
  color: #213951;
  font-weight: bold;
  padding: 5px;
}

.highScoreDiv li span{
  float: left;
  width: 10vw;
}

.topPlayers{
  color: #213951;
}