/*$desktop: 1200px;
$
$
$
*/
:root {
  --desktop: 1200px;
  --laptop: 992px;
  --tablet: 768px;
  --phone: 480px;
}
/*phone*/
@media only screen and (max-width: 767.98px){
  .gamePage {
    flex-direction: column;
    justify-content: space-evenly;
    width: 98%;
    margin: 0 auto;
    margin-top: 37px;
  }

  .board {
    border: 3px solid #b77b57;
    margin: 0 auto;
    margin-top: 1vh;
  }


  .board > div {
  border: 0.5px solid rgb(39, 37, 37);
  margin: 0.2px;
  width: 5vw;
  height: 5vw;
  }
  
  .board .special-tl::after, .board .special-tw::after, .board .special-dl::after, .board .special-dw::after{
    font-size: 3.2vw;
  }
  .board .special-start::after{
    padding-top: 1.7vw;
    font-size: 1.5vw;
  }

  .board .tile {
  width: 5vw;
  height: 5vw;
  font-size: small;
  }

  .board .tile span{
  font-size: 2vw;
  right: 1px;
  bottom: 1px;
  }

  body .tile {
    padding-top: 1px;
    width: 7vw;
    height: calc(7vw - 1px);
    font-size: 4.5vw;
    margin: 0 1px;
  }

  body .tile span{
    font-size: 2vw;
    right: 2px;
    bottom: 2px;
  }

  .playerGameContent{
    display: block;
    width: 98%;
    height: 40vh;
  }

  .playerGameContent > div{
    left: 0;
  }

  .gamePage .buttons {
    bottom: 0;
  }

  .gamePage button {
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.5em 1.5em;
  font-size: 2.5vw;
  text-transform: uppercase;
  } 

  .players{
    top: 5%;
    width: 100%;
  }

  .stand {
    min-width: 0;
    width: 73%;
    padding: 10px;
  }
  .player-icon, .tilesLeft{
    font-size: 2.5vw;
  }

  .player-icon .pname, .ppoints, .myturn{
    font-size: 3vw;
  }

  .playerList {
    top: 25%;
  }

  .playerList span {
    padding: 0.5vh 2vw;
    margin: calc(1px + 1vw);
    font-size: 4vw;    
  }

  .boxes {
    top: 40%;
  }

  .boxes .changeTilesSquare{
    margin: 0;
    height: 25vw;
    width: 25vw;
  }

  .boxes .changeTilesSquare p {
    margin-top: 30%;
    font-size: 4vw;
  } 
  .boxes .messageBox {
    margin: 0;
    margin-top: 1vh;
    padding: 0.5em 1.5em;
    width: 20vw;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    transition: all 300ms ease-in-out;
  }

  .buttons {
    top: 40%;
    left: 50% !important;
    width: 30%;
    text-align: center;
  }

  .buttons button {
    margin: 0.4vh;
    padding: 1vh 3vw;
    font-size: 3vw;
  }



}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991.98px){
  .gamePage {
    background-color: green;
  }
}


/*laptop*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .gamePage {
    background-color: black;
    width: 75%;
    border: 3px dotted red;
    margin: 0 auto;
    margin-top: 37px;
  }
}

