.boxes {
  position: absolute;
  display: inline-block;
  margin: 2vh;
  top: 24vh;
  right: 10vw;
  width: 70vh;
}

.boxes .changeTilesSquare{
  position: relative;
  margin: auto;
  text-align: center;
  height: 30vh;
  width: 30vh;
  border: 0.3em dashed #e5d4c2;
  border-radius: 10px;
  background-color: #cf816a;
}

.boxes .changeTilesSquare p {
  margin: auto;
  margin-top: 25%;
  text-align: center;
  color: #e5d4c2;
  font-size: 5vh;
  width: 80%;
  height: 60%;
} 

.boxes .changeTilesSquare.hover {
  background-color: rgb(33, 57, 81);
}

.boxes .messageBox {
  display: none;
  background-color: rgb(253, 0, 0);
  border-radius: 10px;
  margin: 10px auto;
  padding: 0.5em 1.5em;
  width: 30vh;
  font-size: 2.5vh;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}