/*$desktop: 1200px;
$
$
$
*/
:root {
  --desktop: 1200px;
  --laptop: 992px;
  --tablet: 768px;
  --phone: 480px;
}
/*phone*/
@media only screen and (max-width: 767.98px){
  .gamePage {
    display: grid;
    background-color: pink;
    width: 98%;
    margin: 0 auto;
    margin-top: 37px;
  }

  .board {
    display: block;
    border: 3px solid #b77b57;
    margin: 0 auto;
  }


  .board > div {
  border: 0.5px solid rgb(39, 37, 37);
  margin: 0.2px;
  width: 5vw;
  height: 5vw;
  }
  
  .board .special-tl::after, .board .special-tw::after, .board .special-dl::after, .board .special-dw::after{
    font-size: 3.2vw;
  }
  .board .special-start::after{
    padding-top: 1.7vw;
    font-size: 1.5vw;
  }

  .board .tile {
  width: 5vw;
  height: 5vw;
  font-size: small;
  }

  .board .tile span{
  font-size: 2vw;
  right: 1px;
  bottom: 1px;
  }

  .playerGameContent{
    display: block;
    width: 100%;
  }

  .playerGameContent > div{
    position: relative;
    top: 100px;
    left: 0;
  }

  .gamePage .buttons {
    background-color: red;
  }

  .gamePage button {
  position: relative;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.5em 1.5em;
  font-size: 2.5vw;
  text-transform: uppercase;
  } 

  .gamePage .boxes {
    width: 70%;
    top: 0;
    right: 0;
  }

  .gamePage .players{
    width: 100%;
    background-color: red;
  }

  .stand {
    min-width: 0;
    width: 70%;
    padding: 10px;
  }

  .player-icon .pname{
    font-size: 14px;
  }

}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991.98px){
  .gamePage {
    background-color: green;
  }
}


/*laptop*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .gamePage {
    background-color: black;
    width: 75%;
    border: 3px dotted red;
    margin: 0 auto;
    margin-top: 37px;
  }
}

