

/*Styling for buttons*/

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: rgb(195, 236, 233);
}
.button-start-game button{
 
   display: inline-block;
  
  color: white;
  background-color:  black;
  cursor: pointer;
  border: 1px solid black;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  text-transform:uppercase;
  font-weight: 500%;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 40rem;
  top: 35rem;


  
 
}

.not-show{
  display:none;
}
.button-start-game button:hover{

  background-color:transparent;
  color: black;
}

.skipButton button{

   color: white;
   background-color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform:uppercase;
  font-weight: 100%;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 10rem;
  bottom: 8rem;

  
  
  

}
.breakButton button{
  color: white;
  background-color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform:uppercase;
  font-weight: 100%;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 5rem;
  bottom: 8rem;
}

.skipButton button:hover{

  background-color: transparent;
  color: black;
}

.breakButton button:hover{

  background-color: transparent;
  color: black;
}


.board {
  /* border: 15px solid rgb(241, 255, 42); */
  border-radius: 5px;
  display: inline-block;
  display: none;
}

.board > div {
  border: 1px solid rgb(39, 37, 37);
  margin: 0.5px;
  background-color: rgb(255, 255, 255);
  width: 5.2vh;
  height: 5.2vh;
  float: left;
  border-radius: 2px;
}

.board > div:nth-child(15n+1){
  clear: both;
}

.board > div::after{
  display: block;
}

.players {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pname {
  margin-bottom: 20px;
}
